* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
}

.navbar {
  min-height: 10vh;
  background-color: rgb(17, 63, 63);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

a {
  text-decoration: none;
  color: rgb(109, 97, 83);
}

.active {
  color: rgb(133, 114, 9);
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  max-width: 300px;
  margin: 16px;
  text-align: left;
}
